@import '../../../dist/wmselect.bundle.css';
.card {
    width: 300px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 212px;
        height: 44px;
        background-color: #515777;
        color: white;
        margin: 0 auto;
        border: none;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 50px;
    }
    &__inner {
        margin-bottom: 20px;
    }
}

.img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: translateY(0.3rem);
    img {
        width: 100%;
        height: 100%;
    }
}

.static-years {
    font-weight: 600;
    margin-left: 5px;
}

.wmselect {
    &__title {
        font-weight: 600;
        background-color: #f3f3f3;
    }
    &__option {
        line-height: 22px;
    }
}