* {
    box-sizing: border-box;
    line-height: 1;
}

:root {
    --color-border-search: #d1d1d1;
    --color-scrollbar: #d1d1d1;
    --color-svg: #555;
    --color-placeholder: #bababa;
    --color-option-selected: green;
    --color-notice: #8e8e8e;
    --color-border-error: #f71515;
    --color-text-error: #f71515;

    --bg-disabled: #ececec;
    --bg-arrow: #eee;

    --height-select: 52px;

    --box-shadow: 0px 1px 3px #777777;

    --border-option: 1px solid #eee;

    --width-scrollbar: 4px;
    --width-icon: 40px;

    --font-size: 16px;
    --font-size-search: 14px;
}

.wmselect-custom {
    width: 100%;
    height: var(--height-select);
    opacity: 0;
    pointer-events: none;
}

.wmnative-hide {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.wmselect {
    position: relative;
    z-index: 10;
    width: 100%;
    font-size: var(--font-size);
    &.disabled {
        opacity: 0.8;
        user-select: none;
        pointer-events: none;
        $tpl: '.wmselect';
        #{$tpl} {
            &__selection {
                background-color: var(--bg-disabled);
            }
        }
    }
    &.active {
        $tpl: '.wmselect';
        #{$tpl} {
            &__dropdown {
                visibility: visible;
                opacity: 1;
            }
            &__arrow {
                background-color: var(--bg-arrow);
                svg {
                    transform: rotate(0deg);
                }
            }
        }
    }
    &.novalidate {
        $tpl: '.wmselect';
        #{$tpl} {
            &__selection {
                border-color: var(--color-border-error);
                box-shadow: 0px 0px 0px white;
            }
        }
    }
    &__selection {
        display: flex;
        align-items: center;
        width: 100%;
        height: var(--height-select);
        box-shadow: var(--box-shadow);
        background-color: white;
        user-select: none;
        border: 1px solid transparent;
    }
    &__icon {
        width: var(--width-icon);
        height: 100%;
        padding: 10px;
        img,
        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__selected {
        width: calc(100% - var(--height-select));
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
        line-height: var(--height-select);
        &--calc-width {
            width: calc(100% - var(--height-select) - var(--width-icon));
            padding: 0;
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--height-select);
        height: 100%;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        transition-duration: 300ms;
        svg {
            width: 10px;
            fill: var(--color-svg);
            transform: rotate(-90deg);
            transition-duration: 250ms;
        }
    }
    &__dropdown {
        position: absolute;
        top: var(--height-select);
        right: 0;
        left: 0;
        z-index: 100;
        transform: translateY(5px);
        opacity: 0;
        visibility: hidden;
        transition-duration: 300ms;
        &.animate {
            pointer-events: none;
        }
    }
    &__inner {
        width: 100%;
        padding: 6px;
        background-color: white;
        box-shadow: var(--box-shadow);
    }
    &__search {
        width: 100%;
        margin-bottom: 6px;
        font-size: var(--font-size-search);
    }
    &__input {
        width: 100%;
        padding: 12px 10px;
        border: 1px solid var(--color-border-search);
        outline: none;
        &::placeholder {
            font-size: var(--font-size-search);
            color: var(--color-placeholder);
        }
    }
    &__options {
        width: 100%;
        overflow: auto;
        scrollbar-color: var(--color-scrollbar) #f9f9f9;
        scrollbar-width: thin;
        &::-webkit-scrollbar { width: var(--width-scrollbar); }
        &::-webkit-scrollbar-thumb { background-color: var(--color-scrollbar); border-radius: 2px; }
        &::-webkit-scrollbar-button { height: 0; }
        &::-webkit-scrollbar-track-piece { background-color: #fff; }
    }
    &__option {
        position: relative;
        display: block;
        width: calc(100% - var(--width-scrollbar));
        margin-right: var(--width-scrollbar);
        padding: 10px 4px;
        border-bottom: var(--border-option);
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
            background-color: #f7f8fd;
        }
        &.active {
            color: var(--color-option-selected);
            user-select: none;
            pointer-events: none;
        }
        &:first-of-type {
            border-top: var(--border-option);
        }
    }
    &__title {
        display: block;
        padding: 10px 4px;
        width: calc(100% - var(--width-scrollbar));
        margin-right: var(--width-scrollbar);
    }
    &__notice {
        display: block;
        color: var(--color-notice);
        width: calc(100% - var(--width-scrollbar));
        margin-right: var(--width-scrollbar);
        &--searching {
            padding: 10px 4px 5px;
        }
        &--loading-more {
            padding: 10px 4px;
        }
    }
    &__result {
        display: block;
        width: calc(100% - var(--width-scrollbar));
        margin-right: var(--width-scrollbar);
        padding: 10px 4px;
    }
}
